<section class="hero">
    <h1>
        Revitalizando el pasado con diseño innovador: en Pablo & CC
        transformamos sueños en estructuras que cuentan historias atemporales.
    </h1>
</section>
<style>
    .hero {
        height: 100vh;
        width: 100%;
        background-image: url("https://res.cloudinary.com/dorinvbuv/image/upload/v1710504890/Plc/V5_page-0001-transformed_vczyu5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: end;
        h1 {
            width: 1000px;
            background-color: rgba(245, 245, 245, 0.85);
            margin: 100px 50px 100px 50px;
            padding: 20px;
            border-radius: 25px;
        }
    }
</style>
